apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "konk.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "konk.labels" . | nindent 4 }}
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "konk.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: apiserver
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "konk.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: apiserver
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "konk.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: apiserver
          securityContext:
            {{- toYaml .Values.apiserver.securityContext | nindent 12 }}
          image: "{{ .Values.apiserver.image.repository }}:{{ .Values.apiserver.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.apiserver.image.pullPolicy }}
          command:
            - /usr/local/bin/kube-apiserver
          args:
            - --authorization-mode=Node,RBAC
            - --client-ca-file=/etc/kubernetes/pki/apiserver/ca.crt
            - --etcd-cafile=/etc/kubernetes/pki/apiserver/etcd-ca.crt
            - --etcd-certfile=/etc/kubernetes/pki/apiserver/apiserver-etcd-client.crt
            - --etcd-keyfile=/etc/kubernetes/pki/apiserver/apiserver-etcd-client.key
            - --etcd-servers=
            {{- if .Values.etcd.operator -}}
            https://{{ .Release.Name }}-etcd-headless:2379 # TODO: resolve port from values
            {{- else -}}
            https://127.0.0.1:2379
            {{- end }}
            {{- range $api := .Values.apiserver.disabledAPIs }}
            - --runtime-config={{ $api }}=false
            {{- end }}
            - --requestheader-allowed-names=core
            - --proxy-client-cert-file=/etc/kubernetes/pki/proxyclient/tls.crt
            - --proxy-client-key-file=/etc/kubernetes/pki/proxyclient/tls.key
            - --requestheader-client-ca-file=/etc/kubernetes/pki/proxyclient/ca.crt
            - --service-account-issuer=kubernetes.default.svc
            - --service-account-key-file=/etc/kubernetes/pki/apiserver/apiserver.key
            - --service-account-signing-key-file=/etc/kubernetes/pki/apiserver/apiserver.key
            - --tls-cert-file=/etc/kubernetes/pki/apiserver/apiserver.crt
            - --tls-private-key-file=/etc/kubernetes/pki/apiserver/apiserver.key
            {{- range $k, $v := .Values.apiserver.remoteHeaders }}
            - --{{ $k }}={{ $v }}
            {{- end }}
            {{- range $k, $v := .Values.apiserver.extraFlags }}
            - --{{ $k }}={{ $v }}
            {{- end }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: https
              scheme: HTTPS
            initialDelaySeconds: 120
          readinessProbe:
            httpGet:
              path: /healthz
              port: https
              scheme: HTTPS
          {{- if .Values.apiserver.startupProbe }}
          startupProbe:
            httpGet:
              path: /healthz
              port: https
              scheme: HTTPS
            failureThreshold: 30
            periodSeconds: 10
          {{- end }}
          ports:
            - name: https
              containerPort: 6443
              protocol: TCP
          resources:
            {{- toYaml .Values.apiserver.resources | nindent 12 }}
          volumeMounts:
          - mountPath: /etc/kubernetes/pki/proxyclient/
            name: proxy-client
            readOnly: true
          - mountPath: /etc/kubernetes/pki/apiserver
            name: apiserver-certs
            readOnly: true
        {{- if not .Values.etcd.operator }}
        - name: etcd
          securityContext:
            {{- toYaml .Values.etcd.securityContext | nindent 12 }}
          image: "{{ .Values.etcd.image.repository }}:{{ .Values.etcd.image.tag }}"
          imagePullPolicy: {{ .Values.etcd.image.pullPolicy }}
          command:
            - etcd
            - --advertise-client-urls=https://127.0.0.1:2379
            - --cert-file=/etc/kubernetes/pki/apiserver/etcd/server.crt
            - --client-cert-auth=true
            - --key-file=/etc/kubernetes/pki/apiserver/etcd/server.key
            - --listen-client-urls=https://127.0.0.1:2379
            - --listen-metrics-urls=http://0.0.0.0:2381
            - --name={{ .Chart.Name }}
            - --trusted-ca-file=/etc/kubernetes/pki/apiserver/etcd/ca.crt
          livenessProbe:
            failureThreshold: 8
            httpGet:
              path: /health
              port: 2381
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 15
          resources:
            {{- toYaml .Values.etcd.resources | nindent 12 }}
          volumeMounts:
          - mountPath: /etc/kubernetes/pki/apiserver/etcd
            name: etcd-client-certs
            readOnly: true
        {{- end }}
      volumes:
      - name: proxy-client
        secret:
          defaultMode: 256
          secretName: {{ include "konk.fullname" . }}-proxy-client
      - name: etcd-client-certs
        secret:
          defaultMode: 256
          secretName: {{ include "konk.fullname" . }}-etcd-cert
      - name: apiserver-certs
        secret:
          defaultMode: 256
          secretName: {{ include "konk.fullname" . }}-apiserver-cert
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
