apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "konk-service.fullname" . }}-mounts
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "konk-service.labels" . | nindent 4 }}
data:
  deploy-api-service.sh: |
    #!/bin/bash
    set -xe

    CERT=$(cat certs/ca.crt | base64)
    CERT=${CERT//$'\n'/}
    cat /mounts/api-service.yaml.in | sed "s/{{` {{ SERVICENAME }} `}}/${SERVICENAME}/g" | sed "s/{{` {{ NAMESPACE }} `}}/${NAMESPACE}/g" | sed "s/{{` {{ CERT }} `}}/${CERT}/g" > /gen/api-service.yaml
    kubectl apply -f /gen/api-service.yaml
    INSTALL=install
    if [ $CRDS == $INSTALL ]
    then
      kubectl apply -f /mounts/
    fi
    echo 'Done' > /tmp/healthy

  api-service.yaml.in: |
    apiVersion: v1
    kind: Namespace
    metadata:
      name: {{` {{ NAMESPACE }} `}}
    ---
    apiVersion: v1
    kind: Service
    metadata:
      name: {{` {{ SERVICENAME }} `}}
      namespace: {{` {{ NAMESPACE }} `}}
    spec:
      type: ExternalName
      externalName: {{` {{ SERVICENAME }} `}}.{{` {{ NAMESPACE }} `}}
    ---
    apiVersion: apiregistration.k8s.io/v1
    kind: APIService
    metadata:
      name: v1alpha1.{{` {{ SERVICENAME }} `}}.infoblox.com
    spec:
      caBundle: {{` {{ CERT }} `}}
      group: {{` {{ SERVICENAME }} `}}.infoblox.com
      groupPriorityMinimum: 1000
      service:
        name: {{` {{ SERVICENAME }} `}}
        namespace: {{` {{ NAMESPACE }} `}}
      version: v1alpha1
      versionPriority: 100

{{ if .Values.crds }}
{{ .Values.crds | indent 2 }}
{{ end }}
