{{- if .Values.ingress.enabled }}
{{- $fullName := include "konk-service.fullname" . }}
{{- $konkName := include "konk-service.konkname" . }}

{{- $konkName := include "konk-service.konkname" . }}
{{- if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion }}
apiVersion: networking.k8s.io/v1beta1
{{- else }}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "konk-service.labels" . | nindent 4 }}
  annotations:
  {{- with .Values.authURL }}
    nginx.ingress.kubernetes.io/auth-url: {{ . }}
    nginx.ingress.kubernetes.io/auth-response-headers: Authorization,Request-Id
  {{- end }}
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/proxy-ssl-name: {{ $konkName }}
    nginx.ingress.kubernetes.io/proxy-ssl-secret: {{ .Values.konk.namespace | default .Release.Namespace }}/{{ $konkName }}-ingress-client
    nginx.ingress.kubernetes.io/proxy-ssl-verify: "on"
    # nginx.ingress.kubernetes.io/configuration-snippet: |
    #   proxy_set_header 'my-header' $var;
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          - path: /api
            # actual path examples:
            # - /api
            # - /apis
            # - /apis/example.infoblox.com/v1alpha1/namespaces/default/contacts
            # - /apis/{{ $.Values.group.name }}/{{ $.Values.version }}
            backend:
              serviceName: {{ $konkName }}
              servicePort: https
    {{- end }}
  {{- end }}
