name: PR
on: pull_request
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Fetch tags
        run: git fetch --prune --unshallow
      - name: Helm Lint
        run: |
          mkdir -p ~/.kube
          make helm-lint
      - uses: helm/kind-action@v1.0.0
      - name: Test konk chart
        run: |
          kubectl cluster-info
          make deploy-cert-manager
          make deploy-konk
          make test-konk
      - name: Test konk-operator
        timeout-minutes: 5
        run: |
          make kind-load-konk KIND_NAME="chart-testing"
          make deploy-konk-operator
          kubectl create -f examples/konk.yaml
          until kubectl wait --timeout=3m --for=condition=ready pod -l app.kubernetes.io/component=apiserver,app.kubernetes.io/instance=example-konk
          do
            sleep 1
          done

      - name: Deploy Test APIServer
        timeout-minutes: 5
        run: |
          make kind-apiserver
