name: PR
on: pull_request
jobs:
  end2end:
    name: End To End
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        isUpgrade: [true, false]
        include:
          - isUpgrade: true
            ref: main
    timeout-minutes: 20
    defaults:
      run:
        working-directory: ./src/github.com/${{ github.repository }}
    env:
      GOPATH: ${{ github.workspace }}
      KONK_NAMESPACE: baz
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          path: ./src/github.com/${{ github.repository }}
          ref: ${{ matrix.ref }}
      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ${{ github.workspace }}/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.isUpgrade }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - uses: satackey/action-docker-layer-caching@v0.0.8
        continue-on-error: true
      - name: Fetch tags
        run: |
          pwd
          git fetch --prune --unshallow
      - name: Helm Lint
        run: |
          mkdir -p ~/.kube
          make helm-lint
      - uses: helm/kind-action@v1.0.0
        with:
          config: ./src/github.com/${{ github.repository }}/test/kind.yaml
      - name: Deploy charts
        timeout-minutes: 5
        run: |
          kubectl cluster-info
          make deploy-cert-manager deploy-ingress-nginx
      - name: Install konk-operator
        if: ${{ matrix.isUpgrade }}
        timeout-minutes: 6
        run: |
          make kind-load-konk KIND_NAME="chart-testing"
          make deploy-konk-operator
          kubectl create ns $KONK_NAMESPACE || true
          kubectl create -n $KONK_NAMESPACE -f examples/konk.yaml
          until kubectl wait -n $KONK_NAMESPACE --timeout=3m --for=condition=ready pod -l app.kubernetes.io/component=apiserver,app.kubernetes.io/name=konk
          do
            sleep 1
          done
      - name: Checkout code
        if: ${{ matrix.isUpgrade }}
        uses: actions/checkout@v2
        with:
          path: ./src/github.com/${{ github.repository }}
      - name: Fetch tags
        if: ${{ matrix.isUpgrade }}
        run: |
          pwd
          git fetch --prune --unshallow
      - name: Install/Upgrade konk-operator
        timeout-minutes: 3
        run: |
          make kind-load-konk KIND_NAME="chart-testing"
          make deploy-konk-operator
      - name: Test Konk
        timeout-minutes: 4
        run: |
          kubectl create ns $KONK_NAMESPACE || true
          kubectl apply -n $KONK_NAMESPACE -f examples/konk.yaml
          # FIXME: use the helm-operator status to detect installation was successful
          until kubectl wait -n $KONK_NAMESPACE --timeout=3m --for=condition=ready pod -l app.kubernetes.io/component=apiserver,app.kubernetes.io/name=konk
          do
            sleep 1
          done
          make test-konk KONK_NAMESPACE=$KONK_NAMESPACE
          make test-konk-local
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.x
      - name: Test Extension APIServer
        timeout-minutes: 7
        run: |
          # deploy example-apiserver using a passed KONK reference
          make deploy-apiserver KIND_NAME="chart-testing" KONK_NAME="runner-konk" KONK_NAMESPACE=$KONK_NAMESPACE
          POD_NAME=$(kubectl get pod -o name -l app.kubernetes.io/name=konk-service,app.kubernetes.io/component=apiservice )
          until kubectl exec -it $POD_NAME -- kubectl get contact
          do
            kubectl exec -it $POD_NAME -- kubectl describe apiservice v1alpha1.example.infoblox.com
            sleep 3
          done
          make test-apiserver
          # Test konkservice deployed
          make test-apiserver-api
      - name: Test ingress
        timeout-minutes: 1
        run: |
          kubectl -n ingress-nginx logs -l app.kubernetes.io/component=controller --tail 0 -f &
          until kubectl -s localhost:80 get contacts
          do
            sleep 3
          done
      - name: Print failure
        timeout-minutes: 1
        if: ${{ failure() }}
        run: |
          git diff
          helm list
          kubectl describe po,ing,certificate,clusterissuer,issuer,konk,konkservice
          kubectl get po,svc,ep,certificate,clusterissuer,issuer,ingress,secrets,configmap
